@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --primary: 256 34% 48%;
  --on-primary: 0 0% 100%;
  --inverse-primary: 258 100% 87%;
  --secondary-container: 263 65% 92%;
  --on-secondary-container: 257 26% 13%;
  --surface: 293 100% 98%;
  --surface-container-low: 278 44% 96%;
  --surface-container: 276 38% 95%;
  --surface-container-highest: 280 17% 90%;
  --on-surface: 255 7% 11%;
  --on-surface-variant: 267 6% 29%;
  --inverse-surface: 260 3% 19%;
  --inverse-on-surface: 300 19% 95%;
  --background: 293 100% 98%;
  --error: 3 71% 41%;
  --on-error: 0 0% 100%;
  --outline: 270 4% 47%;
  --outline-variant: 140 3% 77%;
  --font-weight-multiplier: 1;
  --inverse-font-weight-multiplier: 0.8;
}

html.dark {
  --primary: 258 100% 87%;
  --on-primary: 258 59% 28%;
  --inverse-primary: 256 34% 48%;
  --secondary-container: 258 13% 31%;
  --on-secondary-container: 263 65% 92%;
  --surface: 260 14% 8%;
  --surface-container-low: 264 8% 12%;
  --surface-container: 257 10% 14%;
  --surface-container-highest: 257 6% 22%;
  --on-surface: 312 9% 89%;
  --on-surface-variant: 270 11% 79%;
  --inverse-surface: 312 9% 89%;
  --inverse-on-surface: 260 3% 19%;
  --background: 260 14% 8%;
  --error: 3 70% 83%;
  --on-error: 3 71% 22%;
  --outline: 264 5% 58%;
  --outline-variant: 160 2% 27%;
  --font-weight-multiplier: 0.8;
  --inverse-font-weight-multiplier: 1.1;
}

.inverse-font-weight-multiplier {
  --font-weight-multiplier: var(--inverse-font-weight-multiplier);
}
